@font-face {
    font-family: "Winter-Lemon";
    src: 
        url(fonts/winter_lemon-webfont.woff2) format("woff2"),
        url(fonts/winter_lemon-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Caviar-Dreams";
    src: 
        url(fonts/caviar_dreams/caviardreams-webfont.woff2) format("woff2"),
        url(fonts/caviar_dreams/caviardreams-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal; 
}
h1{
    font-family: "Winter-Lemon", serif;
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Caviar-Dreams", sans-serif;
}

.container{
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(50px, 6em) calc(100vh - 130px) 30px;
    gap: 1px;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
}
.sidebar{
    background-color: lightblue;
    grid-area: sidebar;
    padding: 1em 10px 10px 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    color: white;
}
.sidebar>p{
    display: flex;
    flex-direction: column;
    margin: 3em 0px 1em 0px;
    flex-grow: 1;
}
.SB-option{
    font-size: x-large;
}
a{
    margin-top: 1em;
    padding: 2px;
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
a:hover{
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
}
.icons a:hover{
    background-color: transparent;
}
.icon-option{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.icon-option>img,
.icons img{
    height: 1.5em;
    width: 1.5em;
    margin-right: 5px;
    filter: invert(50%) sepia(94%) saturate(724%) hue-rotate(195deg) brightness(97%) contrast(91%);
}
div.icons{
    align-self: end;
}


.header{
    padding: 5px;
    background-color: lightgray;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "search profile"
    "user-info buttons";
}
.search-bar img,
.profile img{
    height: 30px;
    width: 30px;
}
.user-info img{
    height: 40px;
    width: 40px;
    grid-area: img;
}
.search-bar{
    padding: 2px;
    grid-area: search;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;  
}
.search-bar input{
    border-radius: 15px;
    width: min(90%, 1000px);
    border: none;
    background-color: rgb(240, 240, 240);
}
.profile{
    grid-area: profile;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.profile>*{
    padding: 5px;
}
.user-info{
   grid-area: user-info;
   display: flex;
   flex-flow: row;
   justify-content: flex-start;
}
.user-info-text{
    padding-left: 5px;
    display: flex;
    flex-flow: column;
}
.cont-button{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.cont-button button{
    padding: 5px;
    background-color: lightcyan;
    border-radius: 15px;
    border: none;
    width: 100px;
    font-weight: bold;
}

.cont-button>*{
    margin-right: 5px;
}
.cont-button button:hover{
    background-color: cornflowerblue;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.main-content{
    background-color: lightcyan;
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}
.projects{
    background-color: aquamarine;
    border-radius: 15px;
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5px;
    padding: 5px;
    justify-items: center;
}
.projects>h1{
    grid-column: 1 / 3;
    padding: 0px;
}
.project-card{
    background-color: lightcyan;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 5px 10px 18px #888888;
    padding: 5px;
    margin: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.announcements{
    background-color: aquamarine;
    border-radius: 15px;
    padding: 5px;
    grid-area: announcements;
    display: flex;
    flex-flow: column;
    align-content: center;
}
.announcements>h3{
    border-top: solid 1px black;
    padding-top: 5px;
}
.trending{
    background-color: aquamarine;
    border-radius: 15px;
    grid-area: trending;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.trending-entry img{
    height: 3em;
    width: 3em;
    grid-area: user-image;
}
.trending-entry{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:  
    "user-image TagName"
    "user-image desc";
}
.trending-entry h4{
    grid-area: TagName;
}
.trending-entry p{
    grid-area: desc;
}
.footer{
    background-color: gray;
    grid-area: footer;
}