* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(50px, 6em) calc(100vh - 130px) 30px;
    gap: 1px;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "footer footer"; 
}
.sidebar{
    background-color: lightblue;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    padding-top: 1em;
}
.sidebar>p{
    display: flex;
    flex-direction: column;
    margin: 3em 0px 1em 0px;
    flex-grow: 1;
}
.SB-option{
    margin-top: 1em;
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}
.icon-option{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.icon-option>img{
    height: 1.5em;
    width: 1.5em;
}

.header{
    background-color: lightgray;
    grid-area: header;
}
.main-content{
    background-color: lightcyan;
    grid-area: main;
}
.footer{
    background-color: gray;
    grid-area: footer;
}